body {
    background-color: #102C28;
}

.departmentList {
    margin: 24px, 0, 20px, 32px;
    margin-top: 24px;
    margin-left: 32px;
    display: flex;
    justify-content: space-evenly;
}

.invisibleDepartmentButton {
    display: none;
    font-family: 'Urbane';
    background-color: inherit;
    color: white;
    font-size: 20px;
    border: none;
}

.departmentButton {
    display: block;
    font-family: 'Urbane';
    background-color: inherit;
    color: white;
    font-size: 20px;
    border: none;
}

button:hover,
button:active {
    color: #6e7070;
}

#visibleIframeContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 48px;

}

.displayAreaContainer newCanvasScrollbar droppableElement ui-droppable {
    display: flex;
    justify-content: center;
}