/* Classe do body da tela login */
body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
}

#loginMain {
    height: 100%;
    background-image: url(../../images/loginBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#login_logo {
    position: relative;
    left: 20%;
    top:10%;
}
#loginFormContainer {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

#icon_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user_icon_img {
    height: 16px;
    width: 16px;
}

#textbox {
    width: 100%;
    overflow: hidden;
    font-size: 15px;
    padding: 8px 0;
    margin: 8px 0;
}
#textbox input{
    font-family: 'Urbane';
    color:white;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid white;
}

#textbox button{
    width: 100%;
    height: 30px;
    color:white;
    font-size: 15px;
    border-radius: 20px;
    background-color: #f4a333;
    cursor: pointer;
}


#loginFooter{
    display: flex;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    width: 250px;
    flex-direction: row;
    justify-content: space-around;
    font-size: 10px;
    color:lightgray;
    position: absolute;
    top: 60%;
    translate: (-50%,-50%);
}
/*.login {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #102C28;
    color: white;
    overflow: hidden;
    font-family: 'Urbane';
    background: url();
    background-size: cover;
}
*/

/* div tela de login */
.container_login {
    animation: transitionIn 2s;
    width: 325px;
    color: black;
    height: 600px;
    padding:50px;
    margin: 0 auto;
    margin-top: 16px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0,0,0,5);
    border-radius: 20px;
    text-align: center;
}
/* logo na div de login */
.form_image {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15PX;
    display: flex;
    align-self: baseline;
    background: url(../../../public/images/logo_login.png);
    background-size: cover;
    width: 305px;
    height: 305px;    
}


