/* Classe do body da tela login */
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
}

#loginMain {
    height: 100%;
    background-image: url(../../images/loginBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#login_logo {
    position: relative;
    left: 33%;
    top: 20%;
    width: 500px;
}

#loginFormContainer {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#icon_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user_icon_img {
    height: 16px;
    width: 16px;
}

#lock_icon_img {
    height: 16px;
    width: 16px;
}

#textbox {
    width: 100%;
    overflow: hidden;
    font-size: 15px;
    padding: 8px 0;
    margin: 8px 0;
}

#textbox input {
    font-family: 'Urbane';
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid white;
}

#textbox button {
    width: 100%;
    height: 30px;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    background-color: #f4a333;
    cursor: pointer;
}


#loginFooter {
    display: flex;
    width: 100%;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    font-size: 10px;
    color: lightgray;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loginFooter a {
    margin-left: 25px;
    margin-right: 10px;
}