/* Classe do body da tela login */
.post {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #102C28;
    color: white;
    overflow: hidden;
    font-family: 'Urbane';
    background: url(../../../public/images/background_login.jpg);
    background-size: cover;
}
/* div tela de login */
.container_post {
    animation: transitionIn 2s;
    width: 325px;
    color: black;
    height: 600px;
    padding:50px;
    margin: 0 auto;
    margin-top: 16px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0,0,0,5);
    border-radius: 20px;
    text-align: center;
}
/* logo na div de login */
.form_image {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15PX;
    display: flex;
    align-self: baseline;
    background: url(../../../public/images/logo_login.png);
    background-size: cover;
    width: 305px;
    height: 305px;    
}

button {
    font-family: 'Urbane';
    background-color: inherit;
    border: none;
    color: #4c4c4c;
    font-size: 20px;
    margin-top: 20px;
}

