@font-face {
  font-family: 'Urbane';
  src: url(../public/fonts/Urbane-DemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'UrbaneRegular';
  src: url(../public/fonts/Urbane-Medium.ttf);
}

/* Animação de transição ao carregar a página */
@keyframes transitionIn {
  from{
      opacity: 0;
      transform: translateY(10px);
  }
  to{
      opacity: 1;
      transform: translateY(0);
  }
}

body {
  display: block;
  margin: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
