.dashboard {
    background-color: #102C28;
    color: white;
    overflow: hidden;
    font-family: 'Urbane';
}

.texto {
    animation: transitionIn 2s;
    margin-top: 64px;
    margin-bottom: 120px;
    text-align: center;
    font-family: 'UrbaneRegular';
}

.homeContainer {
    display: flex;
    color: black;
}

.newsContaienr {
    width: 50%;
}

.iframeContainer {
    width: 50%;
}

.iframeContainer iframe {
    text-align: center;

    display: block;
    /* iframes are inline by default */
    height: 400px;
    /* Set height to 100% of the viewport height */
    width: 97%;
    /* Set width to 100% of the viewport width */
    border: none;
    /* Remove default border */
    background: lightyellow;
    /* Just for styling */
}

#homeTitle {
    font-size: 44px;
}

#newsTitle {
    font-size: 36px;
    font-family: 'UrbaneRegular';
    text-align: center;
    color: white;
}

#iframeContainerTitle {
    font-size: 36px;
    font-family: 'UrbaneRegular';
    text-align: center;
    color: white;
}

.visualContainerHost {
    width: 100%;
}